.spinner {
  display: inline-block;
  position: relative;
}

.spinner-ring {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  animation: spinner-rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary-color) transparent transparent transparent;
}

.spinner.large .spinner-ring {
  width: 64px;
  height: 64px;
  margin: 8px;
  border-width: 4px;
}

.spinner.medium .spinner-ring {
  width: 40px;
  height: 40px;
  margin: 4px;
  border-width: 3px;
}

.spinner.small .spinner-ring {
  width: 24px;
  height: 24px;
  margin: 2px;
  border-width: 2px;
}

.spinner-ring:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner-ring:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner-ring:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

